@import "./styles/header.css";
@import "./styles/game-title.css";
@import "./styles/content.css";
@import "./styles/logo.css";
@import "./styles/conept.css";
@import "./styles/main-bg.css";
@import "./styles/woman.css";
@import './styles/carousel-container.css';


body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: "Arvo";
}


.left.d-flex.flex-column.justify-content-between.h-100 {
  background-color: rgb(204, 192, 216);
}
.right {
  background-color: red;
}
.right img {
  max-width: 100%;
}
