.bg-red{
background-image: url("../img/bg-cropped.png");
background-position: center;
background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .bg-red {
        background-image: url("../img/main-bg-red.jpg");
        background-size: cover;
        background-repeat: repeat-y;
       
    }
}
